#header1{
    color: green;
    font-family: helvetica;
    font-size: 30px;
    font-weight: normal;
    text-decoration: underline;
    text-transform: capitalize;
    border: 4px solid purple;
    text-align: center;
}

.content{

    color: brown;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    border:  3px dashed purple;
    padding: 2px;
    text-align:center;
}

/* the styling below overrides the styling above as it comes latter */
.content1{
    color: green;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    border:  3px dashed purple;
    padding: 2px;
    text-align:center;
}
/* here h2 styling for the tag gets overidden by class stylings for that particualr tag */
h2{
    color:grey;
}

ol{ 
    list-style-type: upper-latin;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

